openapi: 3.1.0
info:
  title: Drip REST Accounts Broadcasts API
  version: 2.0.0
  description: Best-effort OpenAPI for the Drip email marketing and marketing automation REST API covering accounts, broadcasts, campaigns, subscribers, events, conversions, forms, orders, custom fields, and the v3 shopper activity endpoints for carts, orders, and products.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.drip.com/
servers:
- url: https://api.getdrip.com
  description: Drip API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Broadcasts
paths:
  /v2/{account_id}/broadcasts:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Broadcasts
      summary: List single-email broadcasts
      operationId: listBroadcasts
      responses:
        '200':
          description: A page of broadcasts
  /v2/{account_id}/broadcasts/{broadcast_id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - name: broadcast_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Broadcasts
      summary: Fetch a broadcast
      operationId: getBroadcast
      responses:
        '200':
          description: A broadcast
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token used as username with empty password
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
