openapi: 3.1.0
info:
  title: Drip REST Accounts Events API
  version: 2.0.0
  description: Best-effort OpenAPI for the Drip email marketing and marketing automation REST API covering accounts, broadcasts, campaigns, subscribers, events, conversions, forms, orders, custom fields, and the v3 shopper activity endpoints for carts, orders, and products.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.drip.com/
servers:
- url: https://api.getdrip.com
  description: Drip API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Events
paths:
  /v2/{account_id}/events:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Events
      summary: Record a single event
      operationId: recordEvent
      responses:
        '204':
          description: Event recorded
  /v2/{account_id}/events/batches:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Events
      summary: Batch record events
      operationId: batchEvents
      responses:
        '201':
          description: Batch accepted
  /v2/{account_id}/event_actions:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Events
      summary: List custom event actions
      operationId: listEventActions
      responses:
        '200':
          description: Event actions
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token used as username with empty password
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
