openapi: 3.1.0
info:
  title: Drip REST Accounts Campaigns API
  version: 2.0.0
  description: Best-effort OpenAPI for the Drip email marketing and marketing automation REST API covering accounts, broadcasts, campaigns, subscribers, events, conversions, forms, orders, custom fields, and the v3 shopper activity endpoints for carts, orders, and products.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.drip.com/
servers:
- url: https://api.getdrip.com
  description: Drip API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Campaigns
paths:
  /v2/{account_id}/campaigns:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Campaigns
      summary: List email series campaigns
      operationId: listCampaigns
      responses:
        '200':
          description: A page of campaigns
  /v2/{account_id}/campaigns/{campaign_id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - $ref: '#/components/parameters/CampaignId'
    get:
      tags:
      - Campaigns
      summary: Fetch an email series campaign
      operationId: getCampaign
      responses:
        '200':
          description: A campaign
  /v2/{account_id}/campaigns/{campaign_id}/activate:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - $ref: '#/components/parameters/CampaignId'
    post:
      tags:
      - Campaigns
      summary: Activate an email series campaign
      operationId: activateCampaign
      responses:
        '204':
          description: Activated
  /v2/{account_id}/campaigns/{campaign_id}/pause:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - $ref: '#/components/parameters/CampaignId'
    post:
      tags:
      - Campaigns
      summary: Pause an email series campaign
      operationId: pauseCampaign
      responses:
        '204':
          description: Paused
  /v2/{account_id}/campaigns/{campaign_id}/subscribers:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - $ref: '#/components/parameters/CampaignId'
    get:
      tags:
      - Campaigns
      summary: List subscribers of a campaign
      operationId: listCampaignSubscribers
      responses:
        '200':
          description: Subscribers
    post:
      tags:
      - Campaigns
      summary: Subscribe someone to a campaign
      operationId: subscribeToCampaign
      responses:
        '200':
          description: Subscribed
components:
  parameters:
    CampaignId:
      name: campaign_id
      in: path
      required: true
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token used as username with empty password
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
