openapi: 3.1.0
info:
  title: Drip REST Accounts Shopper Activity API
  version: 2.0.0
  description: Best-effort OpenAPI for the Drip email marketing and marketing automation REST API covering accounts, broadcasts, campaigns, subscribers, events, conversions, forms, orders, custom fields, and the v3 shopper activity endpoints for carts, orders, and products.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.drip.com/
servers:
- url: https://api.getdrip.com
  description: Drip API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Shopper Activity
paths:
  /v3/{account_id}/shopper_activity/cart/batch:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Shopper Activity
      summary: Batch create or update carts (v3 shopper activity)
      operationId: batchShopperCarts
      responses:
        '201':
          description: Accepted
  /v3/{account_id}/shopper_activity/order/batch:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Shopper Activity
      summary: Batch create or update orders (v3 shopper activity)
      operationId: batchShopperOrders
      responses:
        '201':
          description: Accepted
  /v3/{account_id}/shopper_activity/product/batch:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      tags:
      - Shopper Activity
      summary: Batch create or update products (v3 shopper activity)
      operationId: batchShopperProducts
      responses:
        '201':
          description: Accepted
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token used as username with empty password
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
